{% extends 'base.html.twig' %}

{% block title %}Customer lists!{% endblock %}

{% block body %}
    <main class="flex flex-col lg:flex-row">
        {{ include('partials/main/sidebar.html.twig') }}

        <div class="px-12 pt-10 w-full">
            <h1 class="text-4xl font-semibold mb-8">
                Customer List
            </h1>

            <div class="space-y-5">
                <!-- start customer item -->
                {% for customer in customers %}
                    <div class="bg-[#16202A] rounded-2xl pl-5 py-5 pr-11 flex flex-col min-[1174px]:flex-row min-[1174px]:justify-between">
                        <div class="flex justify-center min-[1174px]:justify-start">
                            {% if customer.status.value == 'active' %}
                                <img class="h-[83px] w-[84px]" src="{{ asset('images/status-complete.png') }}" alt="Status: Active">
                            {% else %}
                                <img class="h-[83px] w-[84px]" src="{{ asset('images/status-waiting.png') }}" alt="Status: Inactive">
                            {% endif %}
                            <div class="ml-5">
                                <div class="rounded-2xl py-1 px-3 flex justify-center w-32 items-center bg-amber-400/10">
                                    <div class="rounded-full h-2 w-2 bg-amber-400 blur-[1px] mr-2"></div>
                                    <p class="uppercase text-xs text-nowrap">{{ customer.status.value }}</p>
                                </div>
                                <h4 class="text-[22px] pt-1 font-semibold">
                                    <a
                                        class="hover:text-slate-200"
                                        href="{{ path('app_customer_show', {'id':  customer.id }) }}"
                                    >{{ customer.name }}</a>
                                </h4>
                            </div>
                        </div>
                        <div class="flex justify-center min-[1174px]:justify-start mt-2 min-[1174px]:mt-0 shrink-0">

                            <div class="pl-8 w-[100px]">
                                <p class="text-slate-400 text-xs">Type</p>
                                <p class="text-xl">{{ customer.type }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- end customer item -->
            </div>

        </div>
    </main>
{% endblock %}
