{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    Homepage
{% endblock %}

{% block body %}
    <h1 class="text-2xl">Homepage twig</h1>

    <table>
        {%  for customer in customers %}
            <tr>
                <th>Name</th>
                <td>
                    <a href="{{ path('app_customer_show', {id: customer.id}) }}">
                     {{ customer.name|title }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ customer.type }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ customer.status }}</td>
            </tr>
        {%  endfor %}

    </table>
{% endblock %}